---
swagger: "2.0"
info:
  title: RX BFF API
  description: >-
    Rx BFF is a Node JS based application which is developed using Loopback framework.
    All the logic supporting the UI are primarily developed in Rx BFF(BackEnd For FrontEnd).
    BFF is supporting the presentation tier will be responsible for session caching, data caching, data aggregation and
    filtering services are primarily coded in Node JS. BFF will support all the business functionality like interacting
    with adapters like User Profile Adapter, Medication Order Service, Address Adapter Service, User Interaction
    Log service and the backend SOR services & systems.
  version: 1.0.0
host: dit-rx-bff-kpweb-1.rx.ext-svc-bmxnp.appl.kp.org
schemes:
  - https
basePath: /
produces:
  - application/json
paths:
  "/address":
    get:
      tags:
        - Address
      summary: Find all instances of the model matched by filter from the data source. Accepted filter types are 'all', 'shipping' and 'mailing'.
      description: >-
        This operation is used to get all the addresses of member like MAILING and SHIPPING addresses based on the
        member GUID. This will call the 'getAddress' operation of Address Adapter Service.
      operationId: address.find
      parameters:
        - name: filter
          in: query
          description: "?filter[type]=shipping/mailing/all"
          required: true
          type: string
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - name: X-idType
          in: header
          description: id Type
          required: true
          type: string
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
      responses:
        "200":
          description: Request was successful
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/getAddress"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
      deprecated: false
    post:
      tags:
        - Address
      summary: "Handles request to Add an address to guid. \nOnly shipping address is allowed to be added. \nCannot add after four shipping addresses are available for a guid. \n\"region\" and \"S\" cookies are required."
      description: >-
        This operation is used to CREATE the address based on the provided address for a member.
          This will call the 'addAddress' operation of Address Adapter Service.
      operationId: address.addAddress
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - name: X-idType
          in: header
          description: id Type
          required: true
          type: string
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              addressInfos:
                type: object
                properties:
                  addressType:
                    type: string
                    example: "SHIPPING"
                  sourceSystem:
                    type: string
                    example: "KP_EBIZ"
                  label:
                    type: string
                    example: "ship5640"
                  street1:
                    type: string
                    example: "5820 OWENS DR"
                  street2:
                    type: string
                    example: "BUILDING E"
                  city:
                    type: string
                    example: "PLEASANTON"
                  state:
                    type: string
                    example: "CA"
                  country:
                    type: string
                    example: "USA"
                  postalCode:
                    type: string
                    example: "94588"
                  careOfFirstName:
                    type: string
                    example: "TEST SUBSCRIBER"
                    pattern: "[A-Za-z\\-\\.,\\' ]"
                  careOfMiddleName:
                    type: string
                    example: "M"
                    pattern: "^$|[A-Za-z]"
                  careOfLastName:
                    type: string
                    example: "HCOTABADHCBGBLN"
                    pattern: "[A-Za-z\\-\\.,\\' ]"
                  preferredIn:
                    type: boolean
                    example: true
      responses:
        "200":
          description: Request was successful
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/AddressResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
      deprecated: false
    put:
      tags:
        - Address
      summary: "Handles request to Edit an address to guid. \nOnly shipping address is allowed to be edited. \n\"region\" and \"S\" cookies are required"
      description: >-
        This operation is used to UPDATE the address based on the provided address, addressType, addressLabel and sourceSystem for a member.
        This will call the 'updateAddress' operation of Address Adapter Service.
      operationId: address.editAddress
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - name: X-idType
          in: header
          description: id Type
          required: true
          type: string
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              addressInfos:
                type: object
                properties:
                  addressType:
                    type: string
                    example: "SHIPPING"
                  sourceSystem:
                    type: string
                    example: "KP_EBIZ"
                  label:
                    type: string
                    example: "ship5640"
                  street1:
                    type: string
                    example: "5820 OWENS DR"
                  street2:
                    type: string
                    example: "BUILDING E"
                  city:
                    type: string
                    example: "PLEASANTON"
                  state:
                    type: string
                    example: "CA"
                  country:
                    type: string
                    example: "USA"
                  postalCode:
                    type: string
                    example: "94588"
                  careOfFirstName:
                    type: string
                    example: "TEST SUBSCRIBER"
                    pattern: "[A-Za-z\\-\\.,\\' ]"
                  careOfMiddleName:
                    type: string
                    example: "M"
                    pattern: "^$|[A-Za-z]"
                  careOfLastName:
                    type: string
                    example: "HCOTABADHCBGBLN"
                    pattern: "[A-Za-z\\-\\.,\\' ]"
                  preferredIn:
                    type: boolean
                    example: true
      responses:
        "200":
          description: Request was successful
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/AddressResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
      deprecated: false
    delete:
      tags:
        - Address
      summary: "Handles request to Delete an address in guid. \nOnly \"x-addresstype :shipping\" is allowed to be deleted. \n\"S\" cookie is required"
      description: >-
        This operation is used to DELETE the address based on the provided address, addressType, addressLabel and sourceSystem for a member.
        This will call the 'deleteAddress' operation of Address Adapter Service.
      operationId: address.deleteAddress
      parameters:
        - name: x-label
          in: header
          required: true
          type: string
        - name: x-updatepartial
          in: header
          required: true
          type: boolean
        - name: x-sourcesystem
          in: header
          required: true
          type: string
        - name: x-addresstype
          in: header
          required: true
          type: string
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - name: X-idType
          in: header
          description: id Type
          required: true
          type: string
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
      responses:
        "200":
          description: Request was successful
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/AddressResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
      deprecated: false
  "/prescriptions":
    get:
      tags:
        - Prescription
      summary: The Prescriptions api returns list of prescriptions of the member or its proxy.
      description: >-
        This operation is used to get all Prescriptions details based on the member GUID. This will call the 'prescriptions' operation of Medication Order Service.
      parameters:
        - name: filter
          in: query
          description: >-
            Filter is nested object with params type,pageNumber and pageSize
            expected formate is
            'filter[Avail|unAvail]={"type":"Avail|unAvail","pageNumber":"<number>","pageSize":"ALL|<number>"}'
          required: true
          type: string
          format: json
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
      responses:
        "200":
          description: An array of prescriptions
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/rxData"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/prescription":
    get:
      tags:
        - Search Prescription
      summary: The Prescriptions api returns list of prescriptions of the member or its proxy
      description: >-
        This operation is used to get the prescription details from ePIMS based on the provided member MRN and RX number.
        This will call the 'prescriptions' operation of Medication Order Service with filter rxNumber.
      parameters:
        - name: rxNumber
          in: query
          description: >-
            Prescription Number, expected format is 'filter[rxNumber]=<number>'
          required: true
          type: string
        - name: identifier
          in: query
          description: >-
            identifier is nested object with params id and type
            expected formate is
            'filter[identifier]={"id":"<string>","type":"MRN"}'
          required: false
          type: string
          format: json
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
      responses:
        "200":
          description: An array of prescriptions
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/searchRxData"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/cart":
    get:
      tags:
        - Cart
      summary: The Cart Api returns list of cart items of the member or its proxy
      description: >-
        This operation is used to get all the details of member Info like User Profile info, Proxy Info, Entitlement Info and Prescriptions based on the member GUID. This will call the 'user', 'proxyinformation', 'entitlements' operations of User Profile Adapter. And 'prescriptions' operation of Medication Order Service.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
      responses:
        "200":
          description: An object of cart items are returned
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/cartData"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/cart/prescription":
    post:
      tags:
        - Cart
      summary: The Cart prescription api adds  prescription of member or proxy to cart
      description: >-
        This operation is used to ADD the prescriptions to Cart in session. This will initiate redis session and save the cart information on redis cache.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - name: form
          in: body
          description: form object
          required: true
          schema:
            "$ref": "#/definitions/addCartForm"
      responses:
        "200":
          description: An array of prescriptions
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/cartResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
    delete:
      tags:
        - Cart
      summary: The Cart endpoint delete  prescription of member or proxy from cart.
      description: >-
        This operation is used to DELETE the prescriptions from Cart in session.
      parameters:
        - name: X-rxNumber
          in: header
          description: prescription number
          required: true
          type: string
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - name: form
          in: body
          description: form object
          required: true
          schema:
            "$ref": "#/definitions/deleteCartForm"
      responses:
        "200":
          description: An array of prescriptions
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/cartResponse"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/cart/costestimate":
    post:
      tags:
        - Cart
      summary: The Cart endpoint returns list of cart items with estimates of the member or its proxy.
      description: >-
        This operation is used to get Cost Estimates for given Rx number and member MRN.
        This will call the '/estimate?method=init', and '/estimate?method=fetch' operation of Medication Order Service.
      parameters:
        - name: deliveryMethod
          in: query
          description: >-
            Delivery method for Mail Order --> ?deliveryMethod=mail

            Delivery method for Pickup Order --> ?deliveryMethod=pickup

            Delivery method for Express Pickup Order --> ?deliveryMethod=expresspickup
          required: true
          type: string
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
        - name: form
          in: body
          description: Cart Items object
          required: true
          schema:
            "$ref": "#/definitions/cartItemsObjectForm"
      responses:
        "200":
          description: An array of cart items with estimates
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/estimateCartData"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/order/shippingaddress":
    post:
      tags:
        - Order
      summary: Save shipping address to cache.
      description: >-
        This operation is used to ADD the shipping address to the session for Mail orders.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - name: form
          in: body
          description: form object
          required: true
          schema:
            "$ref": "#/definitions/address"
      responses:
        "200":
          description: Request was successful
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/shippingAddressResult"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/order/pickuplocation":
    post:
      tags:
        - Order
      summary: Save pickup pharmacy Location to cache
      description: >-
        This operation is used to ADD the pharmacy pickup location to the session for Pickup order.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - name: form
          in: body
          description: form object
          required: true
          schema:
            "$ref": "#/definitions/pickupLocation"
      responses:
        "200":
          description: Request was successful
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/pickupLocationResult"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/order/contactandnotifications":
    post:
      tags:
        - Order
      summary: Save contact Details to cache.
      description: >-
        This operation is used to ADD the contact and notifications information to the session for Mail or Pickup order.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - name: form
          in: body
          description: form object
          required: true
          schema:
            "$ref": "#/definitions/contactAndNotifications"
      responses:
        "200":
          description: place order response
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/contactAndNotifications"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/order/details":
    post:
      tags:
        - Order
      summary: Fetch member details.
      description: >-
        This operation is used to get all the details of member Info like deliveryMethod, Contact Phones, Credit Cards, Email, Shipping Address and Notification Preferences based on the member GUID.
        This will call the 'personphone', 'additionalinfo', 'userfeaturedata of User Profile Adapter. And 'memberdetails' operation of Medication Order Service.
      parameters:
        - name: deliveryMethod
          in: query
          description: >-
            Delivery method for Mail Order --> ?deliveryMethod=mail

            Delivery method for Pickup Order --> ?deliveryMethod=pickup

            Delivery method for Express Pickup Order --> ?deliveryMethod=expresspickup
          required: true
          type: string
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
        - name: form
          in: body
          description: Cart Items object
          required: true
          schema:
            "$ref": "#/definitions/cartItemsObjectForm"
      responses:
        "200":
          description: Request was successful
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/userDetails"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/order/prescriptions/pickup":
    post:
      tags:
        - Place Order
      summary: Place Order for PICKUP (or) EXPRESSPICKUP
      description: >-
        This operation is used to Place Oders PICKUP (or) EXPRESSPICKUP or given Rx number and member MRN for pickup (or) expresspickup orders.
        This will call the 'PlacePickupOrder' operation of Medication Order Service.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
        - name: form
          in: body
          description: PickUp Order Form object
          required: true
          schema:
            "$ref": "#/definitions/pickUpOrderForm"
      responses:
        "200":
          description: place order successful response
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/placeOrderResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/order/prescriptions/mail":
    post:
      tags:
        - Place Order
      summary: Place Order for Mail Order
      description: >-
        This operation is used to Place Orders Mail or given Rx numbers and member MRN for Mail orders.
        This will call the 'PlaceMailOrder' operation of Medication Order Service.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
        - name: form
          in: body
          description: Mail Order Form object
          required: true
          schema:
            "$ref": "#/definitions/mailOrderForm"
      responses:
        "200":
          description: place order successful response
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/placeOrderResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/order/prescriptions/delivery":
    post:
      tags:
        - Place Order
      summary: Place Order for rapid delivery Order
      description: >-
        This operation is used to Place Orders delivery or given Rx numbers and member MRN for Mail orders.
        This will call the 'PlaceDeliveryOrder' operation of Medication Order Service.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
        - name: form
          in: body
          description: Mail Order Form object
          required: true
          schema:
            "$ref": "#/definitions/deliveryOrderForm"
      responses:
        "200":
          description: place order successful response
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/placeOrderResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/order/creditcard":
    get:
      tags:
        - Payment
      summary: Get default credit card
      description: >-
        This operation is used to get all credit cards from member profile and ePIMS card.
        This will call the 'PPS v2 profile', and 'getMemberDetails' operation of Medication Order Service.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-apiKey"
        - "$ref": "#/parameters/X-appName"
        - "$ref": "#/parameters/regionid"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
      responses:
        "200":
          description: Get default credit card
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/defaultCardResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
    post:
      tags:
        - Payment
      summary: Post selected credit card
      description: >-
        This operation is used to ADD credit card to PPS profile for given member.
        This will call the 'PPS v1 add card' operation of PPS service.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-apiKey"
        - "$ref": "#/parameters/X-appName"
        - "$ref": "#/parameters/regionid"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-WalletPaymentToken"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - name: form
          in: body
          description: form object
          required: true
          schema:
            "$ref": "#/definitions/creditCard"
      responses:
        "200":
          description: Post credit card response
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/cardResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
    put:
      tags:
        - Payment
      summary: Update selected credit card
      description: >-
        This operation is used to UPDATE credit card details to PPS profile for given member and credit card.
        This will call the 'PPS v1 add card' operation of PPS service.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-apiKey"
        - "$ref": "#/parameters/X-appName"
        - "$ref": "#/parameters/regionid"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-WalletPaymentToken"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - name: form
          in: body
          description: form object
          required: true
          schema:
            type: object
            properties:
              expiryDate:
                type: string
                description: Expiry Date of the Credit Card
                format: MM/YYYY
                pattern: "[0-9][0-9]/20[0-9]{2}"
                example: "12/2020"
                minLength: 6
                maxLength: 7
              last4Digit:
                type: string
                description: Last 4 digits of the credit card
                example: "1234"
      responses:
        "200":
          description: Update credit card
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/cardResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
    delete:
      tags:
        - Payment
      summary: Delete selected credit card
      description: >-
        This operation is used to DELETE credit card from PPS profile for given member and credit card.
        This will call the DELETE operation of PPS service.
      parameters:
        - name: X-CARD-NUMBER
          in: header
          description: credit card number
          required: true
          type: string
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-apiKey"
        - "$ref": "#/parameters/X-appName"
        - "$ref": "#/parameters/regionid"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-WalletPaymentToken"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
      responses:
        "200":
          description: Delete credit card
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/cardResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/order/cart":
    delete:
      tags:
        - Cancel Order
      summary: Cancel Order details from cart
      description: This operation is used to DELETE the order details like Shipping address, credit card info, contact info and notification preferences info from Cart in session.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
      responses:
        "200":
          description: cancel Order
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/cancelOrderResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/rxdeliveryeligibility":
    post:
      tags:
        - Rx Delivery Eligibility
      summary: cart delivery eligibility for same day delivery or next day delivery.
      description: >-
        This operation is used to get cart delivery eligibility for cart.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - "$ref": "#/parameters/X-Env"
        - name: form
          in: body
          description: Cart Items object
          required: true
          schema:
            "$ref": "#/definitions/cartItemsEligibility"
      responses:
        "200":
          description: An array of cart items with estimates
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/estimateCartData"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "503":
          description: Service Unavailable
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/ServiceUnavailableError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        "515":
          description: Data Swap Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/DataSwapError"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/rxnotificationpreferences":
    get:
      tags:
        - Rx Notfication Preferences
      summary: Get Rx Notification Preferences
      description: This operation is used to GET Communication Preferences and Contact Methods using EPP Adapter /preferences and /profile operations.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
      responses:
        "200":
          description: Get Rx Notification Preferences
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-global-transaction-id:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/getRxNotificationPreferencesResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
    put:
      tags:
        - Rx Notfication Preferences
      summary: Set Rx Notification Preferences
      description: This operation is used to PUT Communication Preferences using EPP Adapter /preferences operation. EPP Adapter will call EnterpriseProfilePreferencesService.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
      responses:
        "200":
          description: Set Rx Notification Preferences
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-global-transaction-id:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/setRxNotificationPreferencesResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
  "/refillReminderPreferences":
    get:
      tags:
        - Rx Refill Reminder Preferences
      summary: Get Refill Reminder Preferences
      description: This operation is used to get refill Reminder Preferences from EPP and also if preference enabled, it will get refill reminder enrollment status from ePIMS.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
      responses:
        "200":
          description: Get Refill Reminder Preferences
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-global-transaction-id:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/getRefillReminderPreferencesResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
    post:
      tags:
        - Rx Refill Reminder Preferences
      summary: Set Refill Reminder Preferences
      description: This operation is used to POST refill reminder enrollment using Refill Reminder Service /setEnrollmentStatus operation.
      parameters:
        - name: X-GUID
          in: header
          description: Member GUID
          required: true
          type: string
        - "$ref": "#/parameters/userAgent"
        - "$ref": "#/parameters/referer"
        - "$ref": "#/parameters/cookie"
        - "$ref": "#/parameters/X-IBM-Client-Id"
        - "$ref": "#/parameters/X-Global-Transaction-Id"
        - "$ref": "#/parameters/X-correlationid"
        - name: body
          in: body
          description: form object
          required: true
          schema:
            "$ref": "#/definitions/setRefillReminderPreferencesBody"
      responses:
        "200":
          description: Set Refill Reminder Preferences
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-global-transaction-id:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/setRefillReminderPreferencesResponse"
        "500":
          description: Internal Server Error
          headers:
            x-correlationid:
              description: Used to track request flow
              type: string
            x-response-guid:
              description: Used for verifying data swap
              type: string
            x-response-relid:
              description: Used for verifying data swap
              type: string
          schema:
            "$ref": "#/definitions/InternalServerError"
        "412":
          description: Precondition Failed
          schema:
            "$ref": "#/definitions/PreconditionFailed"
        default:
          description: Unexpected error
          schema:
            "$ref": "#/definitions/Error"
parameters:
  cookie:
    name: Cookie
    type: string
    in: header
    required: true
    description: >-
      The following set of cookies are required: 'ObssoCookie' - used for user
      authentication using SSO, KPSessionId,WPP_PROXY_RELATIONSHIP_ID - relId and S - datacenter number
  userAgent:
    name: User-Agent
    type: string
    in: header
    required: false
    description: >-
      User-Agent header as injected by all browser based clients as per W3C
      specification
  referer:
    name: Referer
    type: string
    in: header
    required: false
    description: >-
      Referer header as injected by all browser based clients as per W3C
      specification
  X-IBM-Client-Id:
    name: X-IBM-Client-Id
    in: header
    description: Space specific Id to allow access to APIC spaces
    required: true
    type: string
  X-appName:
    name: X-appName
    in: header
    description: Name of the app calling bff service
    required: true
    type: string
  X-apiKey:
    name: X-apiKey
    in: header
    description: API Key value
    required: true
    type: string
  regionid:
    name: regionid
    in: header
    description: Region ID for Payment operation
    required: true
    type: string
  X-componentname:
    name: X-componentname
    in: header
    description: Component Name - logging
    required: false
    type: string
  X-correlationid:
    name: X-correlationid
    in: header
    description: Correlation Id to trace transations
    required: true
    type: string
  X-Global-Transaction-Id:
    name: X-Global-Transaction-Id
    in: header
    description: Global Transaction id to trace transactions
    required: true
    type: string
  X-Env:
    name: X-Env
    in: header
    description: Non-prod environment name to connect
    required: false
    type: string
  X-WalletPaymentToken:
    name: X-WalletPaymentToken
    in: header
    description: Wallet Payment Token
    required: true
    type: string
securityDefinitions:
  ApplicationMonitoring:
    type: apiKey
    in: header
    name: X-ibm-client-id
security:
  - ApplicationMonitoring: []
definitions:
  Prescription:
    type: object
    properties:
      prescriptionName:
        type: string
        description: Name of the drug / prescription.
        example: "Lovastatin 10 mg tab sand"
      prescriptionNumber:
        type: string
        description: Presciption to be usedfor ordering to pharmacy
        example: "268510057691"
      prescribedBy:
        type: string
        description: Full Name of the provider who prescribed the prescription
        example: "NAPADOCTOR GENERAL MD"
      firstFill:
        type: boolean
        description: >-
          Returns true if prescriber has prescribed the rx for the first time to
          member else false
        example: true
      prescribedOn:
        type: string
        description: Date when rx was prescribed to the member (mm/dd/yyyy)
        example: "08/06/2018"
        minLength: 3
        maxLength: 10
      lastRefillDate:
        type: string
        description: Date when rx was last refilled at the pharmacy for the the member
        example: "07/19/2018"
        minLength: 3
        maxLength: 10
      instructions:
        type: string
        description: Any instructions to to the member
        example: "Take 1 tablet by mouth daily"
      drugInfo:
        "$ref": "#/definitions/DrugInfo"
      pharmacyInfo:
        "$ref": "#/definitions/PharmacyInfo"
      statusCodes:
        "$ref": "#/definitions/StatusCodes"
      displayShippingInfo:
        type: boolean
        description: if rx has shipment details this value will be true
        example: true
      lastsoldDate:
        type: string
        description: Date when rx was last sold at the pharmacy for the the member
        example: "08/06/2018"
        minLength: 3
        maxLength: 10
      refillsRemaining:
        type: string
        description: Refills Remaining retuns value if available otherwise returns null.
        example: "5"
        minLength: 1
        maxLength: 3
      rxTrackingURL:
        type: string
        description: Shipment Tracking URL if available
        example: "https://tools.usps.com/go/TrackConfirmAction?tLabels=1234567890"
  DrugInfo:
    type: object
    properties:
      code:
        type: string
        description: Drug code
        example: "218736"
      description:
        type: string
        description: Description of the drug
        example: "First Data Bank Code"
      type:
        type: string
        description: Type of the drug
        example: "FDB"
  PharmacyInfo:
    type: object
    properties:
      quantity:
        type: number
        description: Quantity of the drugs
        example: 1
      coPayAmount:
        type: string
        description: any co-payment amount
        example: "20.00"
        minLength: 1
        maxLength: 8
      mailable:
        type: boolean
        description: if true then then rx is avaiable for shipping
        example: true
      nhinId:
        type: string
        description: nhinId of pharmacy
        example: "900002267"
      dispenseLocationCode:
        type: string
        description: dispenseLocationCode of the pharmacy where the rx was issued
        example: "267"
      displayRxReadyDate:
        type: boolean
        description: if true then rxReadyDate will be displayed or rxReadyDate will be  null
        example: true
      rxReadyDate:
        type: string
        description: dispenseLocationCode of the pharmacy where the rx was issued
        example: null
  StatusCodes:
    type: object
    properties:
      rxDetailResponseCode:
        type: string
        description: Current status code for rx
        example: "00"
      refillable:
        type: boolean
        description: Is rx availabel for refill order
        example: true
      consumerResponseCode:
        type: string
        description: Consumer response code
        example: "PHE:1000"
      consumerResponseCodeType:
        type: string
        description: Consumer response code type
        example: "AVAILABLE"
      statusDescription:
        type: string
        description: Status to be displayed on the page to the member
        example: "Available"
  Error:
    type: object
    properties:
      code:
        type: integer
        format: int32
        description: Error Code
        example: 520
      message:
        type: string
        description: Error Message
        example: "Unknown Error"
      fields:
        type: string
        description: Error fields
        example: ""
  AddressResponse:
    type: array
    items:
      properties:
        executionContext:
          type: object
          properties:
            severity:
              type: string
              example: "Info"
            type:
              type: string
              example: "INFO"
            code:
              type: string
              example: "0000"
            desc:
              type: string
              example: "Success"
            errorList:
              type: array
              items:
                example:
        executionMessage:
          type: string
          example: null
        success:
          type: boolean
          example: true
  InternalServerError:
    type: object
    properties:
      executionContext:
        type: object
        properties:
          type:
            type: string
            example: "ERROR"
          code:
            type: string
            example: "RXC_ERROR"
          name:
            type: string
            example: "INTERNAL_SERVER_ERROR"
          status:
            type: number
            example: 500
          message:
            type: string
            example: "Internal Server Error"
  ServiceUnavailableError:
    type: object
    properties:
      executionContext:
        type: object
        properties:
          type:
            type: string
            example: "ERROR"
          code:
            type: string
            example: "RXC_ERROR"
          name:
            type: string
            example: "SERVICE_UNAVAILABLE"
          status:
            type: number
            example: 503
          message:
            type: string
            example: "Error Happened While accessing services"
  PreconditionFailed:
    type: object
    properties:
      error:
        type: object
        properties:
          type:
            type: string
            example: "ERROR"
          code:
            type: string
            example: "GUID_REQUIRED"
          status:
            type: number
            example: 412
          message:
            type: string
            example: "X-GUID Header is missing"
  DataSwapError:
    type: object
    properties:
      executionContext:
        type: object
        properties:
          type:
            type: string
            example: "ERROR"
          code:
            type: string
            example: "RXC_ERROR"
          name:
            type: string
            example: "DATA_SWAP_ERROR"
          status:
            type: number
            example: 515
          message:
            type: string
            example: "X-GUID: 1234567 is not matching with X-RESPONSE-GUID: 7654321"
  rxData:
    type: object
    properties:
      rxs:
        type: array
        items:
          properties:
            type:
              type: string
              description: Avail or unAvail
              example: "Avail"
            totalCount:
              type: number
              description: Total count of the available/unavailable prescriptions
              example: 1
            items:
              type: array
              items:
                "$ref": "#/definitions/Prescription"
            currentPage:
              type: number
              description: Current page number of the prescription list
              example: 1
            pageSize:
              type: string
              description: Page size
              example: "ALL"
      executionContext:
        "$ref": "#/definitions/executionContext"
      acls:
        "$ref": "#/definitions/acls"
  searchRxData:
    type: object
    properties:
      executionContext:
        "$ref": "#/definitions/executionContext"
      rxs:
        type: array
        items:
          "$ref": "#/definitions/Prescription"
  cartData:
    type: object
    description: Cart data
    properties:
      cartItems:
        "$ref": "#/definitions/cartItems"
      userProfile:
        "$ref": "#/definitions/userProfile"
      order:
        "$ref": "#/definitions/userDetails"
      prescriptions:
        type: object
        description: Prescriptions data
        "$ref": "#/definitions/rxData"
      searchRxs:
        type: object
        description: Search Rx's data
        properties:
          prescriptionNumber:
            "$ref": "#/definitions/Prescription"
      acls:
        "$ref": "#/definitions/acls"
      payProviderMemInfo:
        "$ref": "#/definitions/payProviderMemInfo"
      ui_config:
        "$ref": "#/definitions/ui_config"
  cartItems:
    type: object
    properties:
      100109642:
        type: array
        items:
          "$ref": "#/definitions/cartItem"
      613TASNPXTBB:
        type: array
        items:
          "$ref": "#/definitions/cartItem"
      611BPYUUTEKB:
        type: array
        items:
          "$ref": "#/definitions/cartItem"
  cartItem:
    type: object
    properties:
      prescriptionNumber:
        type: string
        description: Prescription Number to be used for ordering to pharmacy
        example: "268510057691"
      usrId:
        type: string
        description: GUID of the Member
        example: "100109642"
      userIdType:
        type: string
        description: User Type (Self / Proxy)
        example: "self"
      firstName:
        type: string
        description: First Name of the Member
        example: "Aimiawu"
      lastName:
        type: string
        description: Last Name of the Member
        example: "Hcotvatau"
      prescriptionName:
        type: string
        description: Name of the drug / prescription.
        example: "Lovastatin 10 mg tab sand"
      lastRefillDate:
        type: string
        description: Date when rx was last refilled at the pharmacy for the the member
        example: "07/19/2018"
        minLength: 3
        maxLength: 10
      quantity:
        type: number
        description: Quantity of the drugs
        example: 1
      nhinId:
        type: string
        description: nhinId of pharmacy
        example: "900002267"
      amount:
        type: number
        format: double
        description: any co-payment amount
        example: "20.00"
      mailable:
        type: boolean
        description: if true then then rx is available for shipping
        example: true
      refillsRemaining:
        type: string
        description: Refills Remaining retuns value if available otherwise returns null.
        example: "10"
        minLength: 1
        maxLength: 3
      statusCodes:
        type: string
        description: Status codes of Prescription
        example: "00"
      pharmacyInfo:
        type: string
        description: Pharmacy Name
        example: "0267"
      pickUpInstruction:
        type: string
        description: Any instructions to to the member
        example: "Take 1 tablet by mouth daily"
      source:
        type: string
        description: Source system of the prescripiton (EPIC / EPIMS)
        example: "EPIC"
      isMember:
        type: boolean
        description: Member or NMA user
        example: true
      consumerResponseCode:
        type: string
        description: Consumer Response Code of the Prescription
        example: "PHE:1000"
      dispenseLocationCode:
        type: string
        description: Dispense Location code of pharmacy
        example: "47"
      firstFill:
        type: string
        description: >-
          Returns true if prescriber has prescribed the rx for the first time to member else false
        example: true
  ui_config:
    type: object
    properties:
      apiRestUris:
        type: object
        properties:
          fdsLocationsApiUrlPrefix:
            type: string
            description: FDS Locations API Url prefix to use
            example: "/care/v1.0/sitesearch"
          addressApiUri:
            type: string
            description: Address API Url prefix to use
            example: "/address"
          mailOrderAddressUri:
            type: string
            description: Mail Order Address API Url prefix to use
            example: "/order/shippingaddress"
          prescriptionApiUri:
            type: string
            description: Prescription API Url prefix to use
            example: "/prescriptions"
          bffCartUri:
            type: string
            description: Bff Cart API Url prefix to use
            example: "cart"
          searchRxApiUri:
            type: string
            description: Search Rx API Url prefix to use
            example: "/prescription"
          trialClaimsApiUri:
            type: string
            description: Trial Claims ApiUri API Url prefix to use
            example: "/cart/costestimate"
          placeOrderPickupApiUri:
            type: string
            description: Place Order Pickup API Url prefix to use
            example: "/order/prescriptions/pickup"
          placeOrderMailApiUri:
            type: string
            description: Place Order Mail API Url prefix to use
            example: "/order/prescriptions/mail"
          reviewOrderApiUrl:
            type: string
            description: reviewOrderApiUrl API Url prefix to use
            example: "/orderdetails/revieworder"
          locationsUrl:
            type: string
            description: Locations API Url prefix to use
            example: "/order/pickuplocation"
          userDetailsApiUri:
            type: string
            description: User Details API Url prefix to use
            example: "/order/details"
          saveContactDetailsUri:
            type: string
            description: Save Contact Details API Url prefix to use
            example: "/order/contactandnotifications"
          cancelOrderUri:
            type: string
            description: Cancel Order API Url prefix to use
            example: "/order/cart"
          csrfToken:
            type: string
            description: csrf Token API Url prefix to use
            example: "/csrftoken"
      apicBasePath:
        type: string
        description: APIC base path
        example: "mycare/pharmacy-microservices/rx-bff-kpweb/v1"
      useGlobalProxyPicker:
        type: boolean
        description: If true then Globla proxy picker will be used. Otherwise Pharmacy custom proxy picker will be used.
        example: true
      dtoAppName:
        type: string
        description: App Name
        example: "rwd"
      bffInitPath:
        type: string
        description: BFF initilization path
        example: "cart"
      isPrintUtil:
        type: boolean
        description: If true then Print Util will be enabled on Landing page.
        example: true
      enableLogs:
        type: boolean
        description: If true then logs will be enabled.
        example: true
      withCredentials:
        type: boolean
        description: If true then logs will be enabled.
        example: true
      dtoComponentName:
        type: string
        description: Component Name
        example: "pharmacy-center"
      runmode:
        type: string
        description: Run mode of the application
        example: "prod"
      paymentAppUri:
        type: string
        description: Payment application URI
        example: "/payment-profile?callerWorkflow=pharmacy-center-kporg-ui.placeOrder"
  cartResponse:
    type: object
    properties:
      success:
        type: number
        format: int32
        description: Success code
        example: 200
      count:
        type: number
        format: int32
        description: Cart count
        example: 1
      data:
        type: object
        description: Cart Item Data
        "$ref": "#/definitions/cartItem"
  addCartForm:
    properties:
      rxNumber:
        type: number
        format: int32
        description: prescription number
[...]
